*{
background-color: #c9f5c9;
}
.h1{
        font-size: -webkit-xxx-large;
}
.img{
    width:50px;
    heith:50px;
    }
.telo{
          width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.p{
    font-size:95px;
}